<div class="bottom-opnion-container">
                <div style="background-color:{{backgroundColor}}" class="container-information-footer">
                         <img src="/assets/images/background-footer-left.png" class="background-footer-left">
                        <img src="/assets/images/background-footer-right.png" class="background-footer-right">
                         <div class = "container-background-information">
                                 
                              <div class = "container-title-information">
                                 <h1> {{footerContentObjectFirst.title}} </h1>
                                 {{#each footerContentObjectFirst.options as |option| }}
                                 <h2>{{option}}</h2>
                                 {{/each}}
                              </div>

                            <div class = "container-title-information">
                                  <h1> {{footerContentObjectSecond.title}} </h1>
                                  {{#each footerContentObjectSecond.options as |option| }}
                                 <h2>{{option}}</h2>
                                 {{/each}}
                            </div>       

                            <div class = "container-title-information">
                                  <h1> {{footerContentObjectThird.title}} </h1>
                                  {{#each footerContentObjectThird.options as |option| }}
                                 <h2>{{option}}</h2>
                                 {{/each}}
                            </div>          

                              <div class = "container-title-information">
                                  <div class = "container-title-information">
                                     <h1> {{footerContentObjectFourth.title}} </h1>
                                     {{#each footerContentObjectFourth.options as |option| }}
                                      <h3>{{option}}</h3>
                                 {{/each}}
                                    
                                  </div>  

                                   <div class= "social-media-container">
                                     <a class="facebook-button" href="https://www.facebook.com/4Legal/?fref=ts" target="_blank">  </a>
                                     <a class="instagram-button" href="https://www.instagram.com/55lab.co/" target="_blank">  </a>
                                  </div>
                            </div>
                    </div>
        </div>
</div>

