<div class="community-detail-content">
        <div class="background-over-container"> </div>
                {{community-advantage-container}}
                {{community-benefits-container}}
                {{community-relationship-container}}
                {{community-our-team-container}}
                {{community-opnion-header-container}}
                {{community-opnion-container}}
                {{bottom-bar backgroundColor="#D8AD09"}}
        <div class="background-over-container"> </div>
</div>
