<div class="community-our-team-container">

    <div class="divider">
        <div class="divider-rect">
        </div>
    </div>

    <div class="title">
        <h1>{{contentMainObject.title}}</h1>
        <div class="title-image">
        </div>
    </div>

    

    <div class="our-team-content-container">
        <div class="our-team-content-item">
            <img src="{{contentFirstObject.image}}" class="our-team-content-image">
                
            <div class="our-team-content-title">
                <h1>{{contentFirstObject.title}}</h1>
            </div>
            <div class="our-team-content-description">
                <h1>{{contentFirstObject.description}}</h1>
            </div>
             <button class="our-team-content-first-button">
                 <h1>{{contentMainObject.titleButton}}</h1>
            </button>   
             
        </div>

        <div class="our-team-content-item">
            <img src="{{contentSecondObject.image}}" class="our-team-content-image">
                
            <div class="our-team-content-title">
                <h1>{{contentSecondObject.title}}</h1>
            </div>
            <div class="our-team-content-description">
                <h1>{{contentSecondObject.description}}</h1>
            </div>
             <button class="our-team-content-second-button">
                 <h1>{{contentMainObject.titleButton}}</h1>
            </button>     
        </div>

        <div class="our-team-content-item">
            <img src="{{contentThirdObject.image}}" class="our-team-content-image">
                
            <div class="our-team-content-title">
                <h1>{{contentThirdObject.title}}</h1>
            </div>
            <div class="our-team-content-description">
                <h1>{{contentThirdObject.description}}</h1>
            </div>
             <button class="our-team-content-first-button">
                 <h1>{{contentMainObject.titleButton}}</h1>
            </button>    
        </div>

        <div class="our-team-content-item">
            <img src="{{contentFourthObject.image}}" class="our-team-content-image">
                
            <div class="our-team-content-title">
                <h1>{{contentFourthObject.title}}</h1>
            </div>
            <div class="our-team-content-description">
                <h1>{{contentFourthObject.description}}</h1>
            </div>
             <button class="our-team-content-second-button">
                 <h1>{{contentMainObject.titleButton}}</h1>
            </button>    
        </div>

    </div>
</div>