<div class="community-benefits-container">

    <div class="divider">
        <div class="divider-rect">
        </div>
    </div>

    <div class="title">
        <h1>{{title}}</h1>
    </div>

    <div class="benefits-content-container">
        <div class="benefit-content-item">
            <img src="{{contentObjectLeftUp.image}}" class="benefit-content-image">
                
            <div class="title">
                <h1>{{contentObjectLeftUp.title}}</h1>
            </div>
            <div class="description">
                <h1>{{contentObjectLeftUp.description}}</h1>
            </div>

        </div>

        <div class="benefit-content-item">
            <img src="{{contentObjectRightUp.image}}" class="benefit-content-image">
                
            <div class="title">
                <h1>{{contentObjectRightUp.title}}</h1>
            </div>
            <div class="description">
                <h1>{{contentObjectRightUp.description}}</h1>
            </div>

        </div>

        <div class="benefit-content-item">
            <img src="{{contentObjectLeftDown.image}}" class="benefit-content-image">
                
            <div class="title">
                <h1>{{contentObjectLeftDown.title}}</h1>
            </div>
            <div class="description">
                <h1>{{contentObjectLeftDown.description}}</h1>
            </div>

        </div>

        <div class="benefit-content-item">
            <img src="{{contentObjectRightDown.image}}" class="benefit-content-image">

            <div class="title">
                <h1>{{contentObjectRightDown.title}}</h1>
            </div>
            <div class="description">
                <h1>{{contentObjectRightDown.description}}</h1>
            </div>

        </div>

    </div>

    <div class="actions-container">
           <button class="action-button-first">
               <h1>{{firstButton}}</h1>
            </button>
                <button class="action-button-second">
                <h1>{{secondButton}}</h1>
            </button>
    </div>

</div>
