<div class="home-page-item-detail-box">

  <div class="item-main" >
    <div class="item-title"> {{contentObject.title}} </div>
    <div class="item-description"> {{contentObject.description}} </div>
   </div>

<div class="item-sub">
  <div class="item-subtitle"> {{contentObject.subTitle}} </div>
  <div class="item-subdescription"> {{contentObject.subDescription}} </div>
 </div>

  {{#if (object-have-property 'image' object=contentObject)  }}
    <img src="{{contentObject.image}}" class="image-box">
  {{/if}}

  <div class="item-options">
    {{#each contentObject.options as |option| }}
     <div class="option"> {{option}} </div>
    {{/each}}
  </div>

  <div class="item-actions" >
    {{#each contentObject.itemActions as |itemAction| }}
    <a class="action-option" href="{{itemAction.url}}"> <img src="{{itemAction.image}}"> <a> {{itemAction.title}} </a> </a>
    {{/each}}
    
  </div>

  {{#if (object-have-property 'email' object=contentObject)  }}
    <a class="email-title"> Email </a>
    <a href= "mailto:hi@55lab.co" class ="email-content"> {{contentObject.email}}</a>

    <a class="phone-title"> Telefone </a>
    <a href="tel:+556132176800" class="phone-content"> {{contentObject.phone}} </a>
      <div class= "social-media-container">
       <a class="facebook-button" href="https://www.facebook.com/4Legal/?fref=ts" target="_blank">  </a>
        <a class="instagram-button" href="https://www.instagram.com/55lab.co/" target="_blank">  </a>
    </div>

    <a class="copyright-footer"> {{contentObject.copyright}} </a>

  {{/if}}

</div>
