<div class="home-page-item-detail-box">

  <div class="item-main" >
    <div class="item-title"> {{contentObject.title}} </div>
    <div class="item-description"> {{contentObject.description}} 
      {{#if (object-have-property 'logosAndLink' object=contentObject) }}
        <img class="item-logo-image" src={{contentObject.logosAndLink.[0]}}>
        <button class="item-button" style="background:url({{contentObject.logosAndLink.[1]}}) no-repeat; background-size: 80%;" >
          <h1> {{contentObject.subTitle}}</h1>
        </button> 
      {{/if}}
    </div>
   </div>

  <div class="item-buttons">
    {{#if (object-have-property 'imagesAndLinks' object=contentObject)  }}
    {{#each contentObject.imagesAndLinks as |object| }}
       {{#link-to contentObject.link (query-params spaceType=object.[1]) target="_parent"}} 
          <button class="button" style="background:url({{object.[0]}}) no-repeat; background-size: 60%;" > </button> 
       {{/link-to}}
    {{/each}}
    {{/if}}
  </div>

<div class="item-sub">
  
  {{#unless (object-have-property 'imagesAndLinks' object=contentObject)}}
    {{#if (object-have-property 'logo' object=contentObject)  }}
        <img class="item-image" src={{contentObject.logo}}>
    {{/if}}
  {{/unless}}

  <div class="item-subdescription"> {{contentObject.subDescription}} </div>

 </div>
  

  <div class="item-options">
    {{#each contentObject.options as |option| }}
     <div class="option"> {{option}} </div>
    {{/each}}
  </div>

  <div class="item-actions" >
    {{#each contentObject.itemActions as |itemAction| }}
    <a class="action-option" href="{{itemAction.url}}"> <img src="{{itemAction.image}}"> <a> {{itemAction.title}} </a> </a>
    {{/each}}
    
  </div>

  {{#if (object-have-property 'email' object=contentObject)  }}
    <a class="email-title"> Email </a>
    <a href= "mailto:hi@55lab.co" class ="email-content"> {{contentObject.email}}</a>

    <a class="phone-title"> Telefone </a>
    <a href="tel:+556132176800" class="phone-content"> {{contentObject.phone}} </a>
      <div class= "social-media-container">
       <a class="facebook-button" href="https://www.facebook.com/55lab.co/?fref=ts" target="_blank">  </a>
        <a class="instagram-button" href="https://www.instagram.com/55lab.co/" target="_blank">  </a>
    </div>

    <a class="copyright-footer"> {{contentObject.copyright}} </a>

  {{/if}}

</div>
