    <div class="background-image">
      <div class="background-filter"> </div>
    </div>

  <div class="presentation-container">
      <h1> SONHE. FAÇA. COMPARTILHE. </h1>
      <h2> Somos uma Co-lab que oferece comunidade, espaço e conhecimento que atendem às necessidades de uma nova geração de trabalhadores: mais criativos, colaborativos e inquietos. </h2>
  </div>

  <div class="actions-container">

    <div class="action-left {{if actionBarComponentsActive.[0] 'active' '' }}">
      <a class="{{if actionBarComponentsActive.[0] 'active' '' }}" {{action 'selectItem' 0}} >COMUNIDADE</a>
    </div>
    <div class="hover-content-left"> </div>


    <div class="action-center0 {{if actionBarComponentsActive.[1] 'active' '' }}">
      <a id="center0-action"  class="{{if actionBarComponentsActive.[1] 'active' '' }}"  {{action 'selectItem' 1}}> ESPAÇO DE TRABALHO </a>
    </div>
    <div class="hover-content-center0">  </div>

    <div class="action-center1 {{if actionBarComponentsActive.[2] 'active' '' }}">
      <a id="center1-action" class="{{if actionBarComponentsActive.[2] 'active' '' }}" {{action 'selectItem' 2}}> CONHECIMENTO </a>
    </div>
    <div class="hover-content-center1">  </div>

    <div class="action-right {{if actionBarComponentsActive.[3] 'active' '' }}">
      <a id="right-action" class="{{if actionBarComponentsActive.[3] 'active' '' }}" {{action 'selectItem' 3}}>  CONTATO </a>
    </div>
    <div class="hover-content-right">  </div>

  </div>
