
<div class="knowledge-opnion-container">
   
    <div class="knowledge-opnion-intro-container">
        <div class="knowledge-opnion-intro">    
            <div class="knowledge-main-description">
                <h3>{{firstOpinionObject.name}}</h3>
                <h2>{{firstOpinionObject.position}}</h2>
                <h1>{{firstOpinionObject.opinion}}</h1>
            </div>
            <div class="knowledge-detail-main-picture">
            </div>
            <div class="knowledge-main-picture">
                <img src="{{firstOpinionObject.image}}">
            </div>
        </div>
    </div>

    <div class="knowledge-opinion-second-intro-container">
        <div class="knowledge-opinion-second-intro">
            <div class="knowledge-opinion-second-main-description">
                <h3>{{secondOpinionObject.name}}</h3>
                <h2>{{secondOpinionObject.position}}</h2>
                <h1>{{secondOpinionObject.opinion}}</h1>
            </div>
            <div class="knowledge-opinion-second-main-picture">
                <img src="{{secondOpinionObject.image}}">
            </div>
            <div class="knowledge-opinion-second-detail-main-picture">
                </div>
        </div>
    </div>


</div>
