<div class="knowledge-events-content-item">

        <div class="knowledge-events-content-item-header-background-image" style="background-image: url('/assets/images/background-image.png');">
            <div class="knowledge-events-content-item-header-background-filter" >
                <div class="knowledge-events-content-item-header">
                    <div class="title">
                        <h1>{{eventObject.title}}</h1>
                    </div>
                    <div class="subtitle">
                        <h1>{{eventObject.local}}</h1>
                    </div>

                    <button class="knowledge-events-content-button">
                         {{mainObject.titleButton}}
                    <div class="button-plans-border-image"> </div>

                    </button>

                </div>
            </div>
        </div>

        <div class="knowledge-events-content-item-sub-description">
            <div class="left-border">

            </div>
            <div class="description">
                <h1>{{eventObject.description}}</h1>
            </div>
        </div>

        <div class="knowledge-events-description-content-item">

            <div class="title">
                <h1>{{mainObject.nameOrganizer}}</h1>
            </div>
            <div class="description">
                <h1>{{eventObject.descriptionOrganizer}}</h1>
            </div>

        </div>

        <div class="knowledge-events-description-content-item">

            <div class="title">
                <h1>{{mainObject.nameSupporter}}</h1>
            </div>
            <div class="description">
                <h1>{{eventObject.descriptionSupporter}}</h1>
            </div>

        </div>

        <div class="knowledge-events-description-content-item">

            <div class="title">
                <h1>{{mainObject.nameDate}}</h1>
            </div>
            <div class="description">
                <h1>{{eventObject.descriptionDate}}</h1>
            </div>

        </div>

        <div class="knowledge-events-description-content-item">

            <div class="title">
                <h1>{{mainObject.nameAmount}}</h1>
            </div>
            <div class="description">
                <h1>{{eventObject.descriptionAmount}}</h1>
            </div>

        </div>

        <div class="knowledge-events-description-content-item">

            <div class="title">
                <h1>{{mainObject.nameMoreInformation}}</h1>
            </div>
            <div class="description">
                <h1>{{eventObject.descriptionMoreInformation}}</h1>
            </div>

            <button class="knowledge-events-description-content-button">
                {{#link-to "sign-up-membership" target="_blank"}}{{mainObject.titleButtonMembership}}{{/link-to}}
              </button>

            <div class="image">
            </div>
        </div>
    </div>