<div class="login-container">
        <div class="page-header">
            <div class="header-name">
                <h1> {{this.spaceType}} </h1>
            </div>
        </div>
        <div class="page-detail">
            <div class="left-content">


                <div class="form-field-big">
                    {{paper-input label="Email" value=email onChange=(action (mut email)) type="email" customValidations=emailValidation }}
                </div>

                <div class="form-field-big">
                    {{paper-input label="Password" value=password onChange=(action (mut password)) customValidations=clearFieldValidation}}
                </div>


                <button class="subscribe-button" {{action 'authenticate'}}> 
                    <h1> {{contentTitleButton}} </h1>
                    <div class="subscribe-button-background-borders">
                    </div>
                </button>
            </div>           
        </div>
    </div>
