 <div class="sign-up-membership-container">
        <div class="page-header">
            <div class="header-name">
                {{#if haveImage}}
                  <img src="/assets/images/white-logo-55-community.png">
                {{/if}}
                <!--<h1> {{this.memberType}} </h1>-->
            </div>

            <div class="header-description">
                <h1> {{contentDescription}} </h1>
            </div>
            <div class="header-divider"> </div>
        </div>

        <div class="page-detail">
            <div class="left-content">

                <div class="form-field-big">
                    {{paper-input label="Nome" value=name onChange=(action (mut name)) customValidations=clearFieldValidation }}
                </div>

                <div class="form-field-medium">
                    {{paper-input label="CPF" value=cpf onChange=(action (mut cpf))}} {{!--{{input-mask mask="999.999.999-99" placeholder="CPF"}}--}}
                </div>

                <div class="form-field-medium">
                 {{paper-input label="RG" value=rg onChange=(action (mut rg))}}

                </div>

                <div class="form-field-big">
                    {{paper-input label="Endereço" value=address onChange=(action (mut address))}}
                </div>

                <div class="form-field-medium">
                    {{paper-input label="Número" value=number onChange=(action (mut number)) }}
                </div>

                <div class="form-field-medium">
                    {{paper-input label="Complemento" value=complement onChange=(action (mut complement))}}
                </div>

                <div class="form-field-medium">
                    {{paper-input label="Bairro" value=neighbor onChange=(action (mut neighbor))}}
                </div>

                <div class="form-field-medium">
                    {{paper-input label="Estado" value=state onChange=(action (mut state))}}
                </div>

                <div class="form-field-medium">
                    {{paper-input label="País" value=country onChange=(action (mut country))}}
                </div>

                <div class="form-field-medium">
                    {{paper-input label="Email" value=email onChange=(action (mut email)) type="email" customValidations=emailValidation }}
                </div>

                <div class="form-field-medium">
                    {{paper-input label="Telefone" value=telephone onChange=(action maskPhoneNumber) customValidations=phoneNumberValidation }}
                </div>

                <button class="subscribe-button" {{action 'registerUser'}}> 
                    <h1> {{contentTitleButton}}  {{memberType}}  ! </h1>
                    <div class="subscribe-button-background-borders">
                    </div>
                </button>
           

            </div>

            <div class="right-content">
                <div class="description-title">
                    <h1>
                        {{contentSecondDescription}}
                    </h1>

                    <div class="label-icon"> </div>
                </div>
                <div class="description-picture"> </div>

            </div>
        </div>

    </div>