<div class="visit-us-container">
        <div class="page-header">
            <div class="header-name">
                <h1> {{this.spaceType}} </h1>
            </div>

            <div class="header-description">
                <h1> {{contentDescription}} </h1>
            </div>
            <div class="header-divider"> </div>
        </div>

        <div class="page-detail">
            <div class="left-content">

                <div class="form-field-big">
                    {{paper-input label="Nome Completo*" value=name onChange=(action (mut name)) customValidations=clearFieldValidation}}
                </div>

                <div class="form-field-big">
                    {{paper-input label="Email para contato*" value=email onChange=(action (mut email)) type="email" customValidations=emailValidation }}
                </div>

                <div class="form-field-medium">
                    {{paper-input label="Telefone para contato*" value=telephone onChange=(action maskPhoneNumber) customValidations=phoneNumberValidation }}
                </div>

                <div class="form-field-medium">
                    {{paper-input label="Quantas pessoas virão?*" value=number_people onChange=(action (mut number_people))}}

                </div>         

                <div class="form-field-medium">
                    {{paper-input label="Dia*" maxlength="10" value=date onChange=(action maskDate) customValidations=dateValidation}}
                </div>

                <div class="form-field-medium">
                    {{paper-input label="Horário*" maxlength="5" value=hour onChange=(action maskHour) customValidations=hourValidation}}
                </div>

                <div class="form-field-medium">
                    {{paper-input label="Quer visitar qual espaço?*" value=name_space onChange=(action (mut name_space)) customValidations=clearFieldValidation}}
                </div>


                <button class="subscribe-button" {{action 'makeAppointmentUser'}}> 
                    <h1> {{contentTitleButton}} </h1>
                    <div class="subscribe-button-background-borders">
                    </div>
                </button>
           

            </div>

            <div class="right-content">
                <div class="description-title">
                    <h1>
                        {{contentSecondDescription}}
                    </h1>

                    <div class="label-icon"> </div>
                </div>
                <div class="description-picture"> </div>

            </div>
        </div>

    </div>
