<div class="work-space-detail-content">
        <div class="background-over-container"> </div>
                {{work-space-types-spaces-container selectPlanAction=(action "selectPlanAction")}}
                {{work-space-plans-container changeInfoDelegate=this}} 
                {{work-space-plans-description-container}}
                {{work-space-advantage-container changeInfoDelegate=this}}
                {{work-space-opnion-header-container}}
                {{work-space-opnion-container}}
        <div class="background-over-container"> </div>
</div>
