<div class="work-space-advantage-container">
    <div class="divider">
        <div class="divider-rect">
        </div>
    </div>

    <div class="title">
        <h1>{{contentObject.title}}</h1>

        <h2>{{contentObject.description}} </h2>
    </div>

    <div class="advantage-container">

        <img src="{{contentObjectDoubleTable.image}}" class="image">

        <div class="title">
            <h1>{{contentObjectDoubleTable.title}}</h1>
            <h2>{{contentObjectDoubleTable.description}}</h2>
        </div>

        <div class="advantage-options-container">
            <div class="advantage-background-image">
            </div>
            <div class="advantage-options-title">
                <h1>{{contentObjectDoubleTable.titleTable}}</h1>
            </div>
            <div class="advantage-options-background">

                <div class="advantage-options-information-title">
                    <h1>{{contentObjectDoubleTable.firstRowTitle}}</h1>
                    <h2>{{contentObjectDoubleTable.firstRowSubtitle}}</h2>
                    <h3>{{contentObjectDoubleTable.firstRowDescription}}</h3>

                    <div class= "advantage-options-to-here-title">
                        <h1>{{contentObjectDoubleTable.descriptionActionButton}}</h1>
                    </div>

                   <button class="advantage-access-here-button">{{contentObjectDoubleTable.titleActionButton}}</button>

                   <div class="advantage-access-here-button-background-borders">
                   </div>

                    <div class="advantage-options-center-line">
                    </div>
                </div>

                <div class="advantage-options-information-title">
                    <h1>{{contentObjectDoubleTable.secondRowTitle}}</h1>
                    <h2>{{contentObjectDoubleTable.secondRowSubtitle}}</h2>
                    <h3>{{contentObjectDoubleTable.secondRowDescription}}</h3>

                    <div class= "advantage-options-to-here-title">
                        <h1>{{contentObjectDoubleTable.descriptionActionButton}}</h1>
                    </div>

                   <button class="advantage-access-here-button">{{contentObjectDoubleTable.titleActionButton}}</button>

                   <div class="advantage-access-here-button-background-borders">
                   </div>
                    
                </div>
            </div>
        </div>
    </div>
    
    <div style="margin-top:40vw" class="advantage-container-do-it">

          <div class="advantage-meeting-room-background-borders">
         </div>
        <img src="{{contentObjectOneTable.image}}" class="image">
        
        <div class="title">
            <h1>{{contentObjectOneTable.title}}</h1>
            <h2><b>{{contentObjectOneTable.firstSubtitle}}</b>{{contentObjectOneTable.firstSubtitleDescription}}</h2>
             <h2><b>{{contentObjectOneTable.secondSubtitle}}</b>{{contentObjectOneTable.secondSubtitleDescription}}</h2>
            <h3>{{contentObjectOneTable.description}}</h3>
        </div>

        <div class="advantage-meeting-room-background">

            <div class="advantage-meeting-information-title">
                <h1>{{contentObjectOneTable.descriptionActionButton}}</h1>
            </div>

            <button class="advantage-do-it-button">{{contentObjectOneTable.titleActionButton}}</button>
              <div class="advantage-do-it-buttom-background-borders">
         </div>
        </div>
    </div>

         <div class="advantage-support-container">

            <div class="advantage-support-title">
                <h1>{{contentObjectOneTable.titleTable}}</h1>
            </div>
            <div class="advantage-spaces-background">
                <div class="advantage-spaces-information-title">

                    {{#each contentObjectOneTable.itensTable as |item| }}
                        <div class="advantage-spaces-information-title-item">
                        <div class="image-icon">
                        </div>
                        <h1>{{item}}</h1>
                    </div>
                    {{/each}}

                </div>
                <div class="advantage-background-support-image">
                </div>
                <div class="advantage-space-center-line">
                </div>

                <div class="advantage-space-center-line-two">
                </div>
            </div>
        </div>

    <div class="advantage-container-do-it">

          <div class="advantage-meeting-room-background-borders">
         </div>
        <img src="{{contentObjectWithoutTable.image}}" class="image">
        
        <div class="title">
            <h1>{{contentObjectWithoutTable.title}}</h1>
            <h2><b>{{contentObjectWithoutTable.firstSubtitle}}</b>{{contentObjectWithoutTable.firstSubtitleDescription}}</h2>
             <h2><b>{{contentObjectWithoutTable.secondSubtitle}}</b>{{contentObjectWithoutTable.secondSubtitleDescription}}</h2>
            <h3>{{contentObjectWithoutTable.description}}</h3>
        </div>

        <div class="advantage-meeting-room-background">

            <div class="advantage-meeting-information-title">
                <h1>{{contentObjectWithoutTable.descriptionActionButton}}</h1>
            </div>

            <button class="advantage-do-it-button">{{contentObjectWithoutTable.titleActionButton}}</button>
              <div class="advantage-do-it-buttom-background-borders">
         </div>
        </div>
    </div>

    <div class="advantage-container-do-it">

        <img src="{{contentSecondObjectWithoutTable.image}}" class="image">

        <div class="title">
            <h1>{{contentSecondObjectWithoutTable.title}}</h1>
            <h2><b>{{contentSecondObjectWithoutTable.firstSubtitle}}</b>{{contentSecondObjectWithoutTable.firstSubtitleDescription}}</h2>
             <h2><b>{{contentSecondObjectWithoutTable.secondSubtitle}}</b>{{contentSecondObjectWithoutTable.secondSubtitleDescription}}</h2>
            <h3>{{contentSecondObjectWithoutTable.description}}</h3>
        </div>

        <div class="advantage-meeting-room-background">

            <div class="advantage-meeting-information-title">
                <h1>{{contentSecondObjectWithoutTable.descriptionActionButton}}</h1>
            </div>

            <button class="advantage-do-it-button">{{contentSecondObjectWithoutTable.titleActionButton}}</button>
              <div class="advantage-do-it-buttom-background-borders">
         </div>
        </div>
    </div>

        <div class="advantage-container-do-it">

        <img src="{{contentSecondObjectOneTable.image}}" class="image">

        <div class="title">
            <h1>{{contentSecondObjectOneTable.title}}</h1>
            <h3>{{contentSecondObjectOneTable.description}}</h3>
        </div>

        <div class="advantage-meeting-room-background">

            <div class="advantage-meeting-information-title">
                <h1>{{contentSecondObjectOneTable.descriptionActionButton}}</h1>
            </div>

            <button style="margin-top:13vw"class="advantage-do-it-button">{{contentSecondObjectOneTable.titleActionButton}}</button>
              <div style="margin-top:11vw" class="advantage-do-it-buttom-background-borders">
         </div>
        </div>
    </div>

             <div class="advantage-support-showroom-container ">

            <div class="advantage-support-showroom-title">
                <h1>{{contentSecondObjectOneTable.titleTable}}</h1>
            </div>
            <div class="advantage-spaces-showroom-background">
                <div class="advantage-spaces-showroom-information-title">

                    {{#each contentSecondObjectOneTable.itensWithIconTable as |item| }}
                    <div class="advantage-spaces-showroom-information-title-item">
                        <div class="image-icon">
                        </div>
                        <h1>{{item}}</h1>
                    </div>
                    {{/each}}

                    {{#each contentSecondObjectOneTable.itensTable as |item| }}
                    <div class="advantage-spaces-showroom-information-title-item">
                        <h1>{{item}}</h1>
                    </div>
                    {{/each}}
                      
                </div>
                <div class="advantage-background-showroom-support-image">
                </div>
                <div class="advantage-space-showroom-center-line">
                </div>

                <div class="advantage-space-showroom-center-line-two">
                </div>
            </div>
        </div>

</div>