<div class="work-space-types-spaces-content-item" onmouseout={{action "outHover"}} onmouseover={{action "onHover"}} >

<div class="work-space-types-spaces-content-background-image" style="background-image: url({{headerImageSrc}});">
        <div class="work-space-types-spaces-content-background-filter" style="background-image: url(/assets/images/workspace-option-background-image-filter.png);  {{opacityOutHoverProperty}}"> </div>
        <div class="work-space-types-spaces-content-background-filter" style="background-image: url({{backgroundFilterHoverSrc}}); {{opacityHoverProperty}}"> </div>
</div>
<img src="{{titleImageSrc}}" class="work-space-types-spaces-content-title">
<div class="description">
    <h1>
        {{description}}
    </h1>

    <button class="work-space-types-spaces-content-button" {{action "onClick"}}>
                
                {{#if isSelected}}
                    <img src="{{buttonActiveImageSrc}}">
                {{else}}
                    <img src="{{buttonImageSrc}}">
                {{/if}}
                
                <h1>
                 SAIBA MAIS                 
                </h1>
    </button>
</div>

</div>