<div class="work-space-opnion-container">
   
    <div class="work-space-opnion-intro-container">
        <div class="work-space-opnion-intro">    
            <div class="work-space-opinion-main-description">
                <h3>{{firstOpinionObject.name}}</h3>
                <h2>{{firstOpinionObject.position}}</h2>
                <h1>{{firstOpinionObject.opinion}}</h1>
            </div>
            <div class="work-space-opinion-detail-main-picture">
            </div>
            <div class="work-space-opinion-main-picture">
            </div>
        </div>
    </div>

    <div class="work-space-opinion-second-intro-container">
        <div class="work-space-opinion-second-intro">
            <div class="work-space-opinion-second-main-description">
                <h3>{{secondOpinionObject.name}}</h3>
                <h2>{{secondOpinionObject.position}}</h2>
                <h1>{{secondOpinionObject.opinion}}</h1>
            </div>
            <div class="work-space-opinion-second-main-picture">
            </div>
            <div class="work-space-opinion-second-detail-main-picture">
                </div>
        </div>
    </div>


</div>
