<div class="work-space-plans-content-item">

        <div class="work-space-plans-content-item-header-background-image" style="background-image: url('{{contentObject.headerContent.headerContentBackgroundUrl}}');">
            <div class="work-space-plans-content-item-header-background-filter" >
                <div class="work-space-plans-content-item-header">
                    <div class="title">
                        <h1>
                            {{contentObject.headerContent.headerContentTitle}}
                        </h1>
                    </div>
                    <div class="subtitle">
                        <h1>
                            {{contentObject.headerContent.headerContentPrice}}
                        </h1>
                    </div>

                    <button class="work-space-plans-content-button" style="background:{{contentObject.headerContent.headerColorBackground}}">
                    
                    {{#link-to "visit-us" target="_blank"}}{{contentObject.headerContent.headerContentWorkspacePlanButton}}{{/link-to}}
                    
                    <div class="button-plans-border-image"> </div>

                    </button>



                </div>
            </div>
        </div>

        <div class="work-space-plans-content-item-sub-description" style="background:{{contentObject.headerContent.headerColorBackground}}">
            <div class="left-border" style="background:{{contentObject.headerContent.headerColorBorderBackground}}">

            </div>
            <div class="description">
                <h1>
                    {{contentObject.descriptionContent}}
                </h1>
            </div>
        </div>

        <div style="height:32vw" class="work-space-plans-description-content-item">

            <div class="title">
                <h1>
                    {{contentObject.subInfoContentObject.subInfoContentTitle}}
                </h1>
            </div>
            <div class="description">
                <h1>
                  {{contentObject.subInfoContentObject.subInfoContentDescription}} </h1>
            </div>

        </div>

        <div class="work-space-plans-description-content-item">

            <div class="title">
                <h1>
                    {{contentObject.subInfoContentObject2.subInfoContentTitle}}
                </h1>
            </div>
            <div class="description">
                <h1>
                  {{contentObject.subInfoContentObject2.subInfoContentDescription}} </h1>
            </div>

        </div>

        <div style="height:18vw" class="work-space-plans-description-content-item">

            <div class="title">
                <h1>
                    {{contentObject.subInfoContentObject3.subInfoContentTitle}}
                </h1>
            </div>
            <div class="description">
                <h1>
                  {{contentObject.subInfoContentObject3.subInfoContentDescription}} </h1>
            </div>

        </div>

        <div style="height:30vw" class="work-space-plans-description-content-item">

            <div class="title">
                <h1>
                    {{contentObject.subInfoContentObject4.subInfoContentTitle}}
                </h1>
            </div>
            <div class="description">
                <h1>
                  {{contentObject.subInfoContentObject4.subInfoContentDescription}} </h1>
            </div>

        </div>

        <div style="height:25vw" class="work-space-plans-description-content-item">

            <div class="title">
                <h1>
                    {{contentObject.subInfoContentObject5.subInfoContentTitle}}
                </h1>
            </div>
            <div class="description">
                <h1>
                  {{contentObject.subInfoContentObject5.subInfoContentDescription}} 
                  </h1>
            </div>

            <button class="work-space-plans-description-content-button">
                {{#link-to "visit-us" target="_blank"}}{{contentObject.subInfoContentObject5.subInfoContentActionName}}{{/link-to}}
                  <div class="image" style="content: url('{{contentObject.headerContent.headerContentBacgroundButtonUrl}}')">
                  </div>
              </button>

            
        </div>
    </div>