<div class="work-space-advantage-container">
    <div class="divider">
        <div class="divider-rect">
        </div>
    </div>

    <div class="title">
        <h1>{{contentObject.contentObject.title}}</h1>
        <h2>{{contentObject.contentObject.description}} </h2>
    </div>

    {{#if contentObject.contentObjectDoubleTable}}
        
   
    <div class="advantage-container">

        <img src="{{contentObject.contentObjectDoubleTable.image}}" class="image">

        <div class="title">
            <h1>{{contentObject.contentObjectDoubleTable.title}}</h1>
            <h2>{{contentObject.contentObjectDoubleTable.description}}</h2>
        </div>

        <div class="advantage-options-container">
            <div class="advantage-background-image">
            </div>
            <div class="advantage-options-title">
                <h1>{{contentObject.contentObjectDoubleTable.titleTable}}</h1>
            </div>
            <div class="advantage-options-background">

                <div class="advantage-options-information-title">
                    <h1>{{contentObject.contentObjectDoubleTable.firstRowTitle}}</h1>
                    <h2>{{contentObject.contentObjectDoubleTable.firstRowSubtitle}}</h2>
                    <h4>{{contentObject.contentObjectDoubleTable.firstRowSubsubtitle}}</h4>
                    <h3>{{contentObject.contentObjectDoubleTable.firstRowDescription}}</h3>
                    
                    <div class= "advantage-options-to-here-title">
                        <h1>{{contentObject.contentObjectDoubleTable.descriptionActionButton}}</h1>
                    </div>

                   <button class="advantage-access-here-button">{{contentObject.contentObjectDoubleTable.titleActionButton}}</button>

                   <div class="advantage-access-here-button-background-borders">
                   </div>

                    <div class="advantage-options-center-line">
                    </div>
                </div>

                <div class="advantage-options-information-title">
                    <h1>{{contentObject.contentObjectDoubleTable.secondRowTitle}}</h1>
                    <h2>{{contentObject.contentObjectDoubleTable.secondRowSubtitle}}</h2>
                    <h4>{{contentObject.contentObjectDoubleTable.secondRowSubsubtitle}}</h4>
                    <h3>{{contentObject.contentObjectDoubleTable.secondRowDescription}}</h3>

                    <div class= "advantage-options-to-here-title">
                        <h1>{{contentObject.contentObjectDoubleTable.descriptionActionButton}}</h1>
                    </div>

                   <button class="advantage-access-here-button">{{contentObject.contentObjectDoubleTable.titleActionButton}}</button>

                   <div class="advantage-access-here-button-background-borders">
                   </div>
                    
                </div>
            </div>
        </div>
    </div>
     {{/if}}


     {{#if contentObject.contentObjectOneTable}}
         
    <div class="advantage-container-do-it">
          <div class="advantage-meeting-room-background-borders">
         </div>
        <img src="{{contentObject.contentObjectOneTable.image}}" class="image">
        <div class="title">
            <h1>{{contentObject.contentObjectOneTable.title}}</h1>
            <h3>{{contentObject.contentObjectOneTable.firstSubtitle}}</h3>
            <h3>{{contentObject.contentObjectOneTable.firstSubsubtitle}}</h3>
            <h2><b>{{contentObject.contentObjectOneTable.firstTitlePriceSubsubtitle}}</b>{{contentObject.contentObjectOneTable.firstPriceFirstSubsubtitle}}</h2>
            <h2><b>{{contentObject.contentObjectOneTable.secondTitlePriceSubsubtitle}}</b>{{contentObject.contentObjectOneTable.secondPriceFirstSubsubtitle}}</h2>
            <h3>{{contentObject.contentObjectOneTable.secondSubsubtitle}}</h3>
            <h2><b>{{contentObject.contentObjectOneTable.firstTitlePriceSubsubtitle}}</b>{{contentObject.contentObjectOneTable.firstPriceSecondSubsubtitle}}</h2>
            <h2><b>{{contentObject.contentObjectOneTable.secondTitlePriceSubsubtitle}}</b>{{contentObject.contentObjectOneTable.secondPriceSecondSubsubtitle}}</h2>
            <h3>{{contentObject.contentObjectOneTable.thirdSubsubtitle}}</h3>
            <h2><b>{{contentObject.contentObjectOneTable.firstTitlePriceSubsubtitle}}</b>{{contentObject.contentObjectOneTable.firstPriceThirdSubsubtitle}}</h2>
            <h2><b>{{contentObject.contentObjectOneTable.secondTitlePriceSubsubtitle}}</b>{{contentObject.contentObjectOneTable.secondPriceThirdSubsubtitle}}</h2>
            <h3>{{contentObject.contentObjectOneTable.description}}</h3>
        </div>
        <div class="advantage-meeting-room-background">
            <div class="advantage-meeting-information-title">
                <h1>{{contentObject.contentObjectOneTable.descriptionActionButton}}</h1>
            </div>
            <button class="advantage-do-it-button">{{contentObject.contentObjectOneTable.titleActionButton}}</button>
              <div class="advantage-do-it-buttom-background-borders">
         </div>
        </div>
    </div>
    
         <div class="advantage-support-container">

            <div class="advantage-support-title">
                <h1>{{contentObject.contentObjectOneTable.titleTable}}</h1>
            </div>
            <div class="advantage-spaces-background">
                <div class="advantage-spaces-information-title">

                    {{#each contentObject.contentObjectOneTable.itensTable as |item| }}
                    <div class="advantage-spaces-information-title-item">
                        <div class="image-icon">
                        </div>
                        <h1>{{item}}</h1>
                    </div>
                    {{/each}}

                </div>
                <div class="advantage-background-support-image">
                </div>
                <div class="advantage-space-center-line">
                </div>

                <div class="advantage-space-center-line-two">
                </div>
            </div>
        </div>
    {{/if}}


    {{#if contentObject.contentObjectSecondTable}}
        
     <div  class="advantage-container-do-it">

          <div class="advantage-meeting-room-background-borders">
         </div>
        <img src="{{contentObject.contentObjectSecondTable.image}}" class="image">
        
        <div class="title">
            <h1>{{contentObject.contentObjectSecondTable.title}}</h1>
            <h3>{{contentObject.contentObjectSecondTable.firstSubtitle}}</h3>
            <h3>{{contentObject.contentObjectSecondTable.firstSubsubtitle}}</h3>
            <h2><b>{{contentObject.contentObjectSecondTable.firstTitlePriceSubsubtitle}}</b>{{contentObject.contentObjectSecondTable.firstPriceSubsubtitle}}</h2>
            <h2><b>{{contentObject.contentObjectSecondTable.secondTitlePriceSubsubtitle}}</b>{{contentObject.contentObjectSecondTable.secondPriceFirstSubsubtitle}}</h2>
            <h3>{{contentObject.contentObjectSecondTable.secondSubsubtitle}}</h3>
            <h2><b>{{contentObject.contentObjectSecondTable.firstTitlePriceSubsubtitle}}</b>{{contentObject.contentObjectSecondTable.firstPriceSecondSubsubtitle}}</h2>
            <h2><b>{{contentObject.contentObjectSecondTable.secondTitlePriceSubsubtitle}}</b>{{contentObject.contentObjectSecondTable.secondPriceSecondSubsubtitle}}</h2>
            <h3>{{contentObject.contentObjectTwoTable.description}}</h3>
        </div>

        <div class="advantage-meeting-room-background">

            <div class="advantage-meeting-information-title">
                <h1>{{contentObject.contentObjectSecondTable.descriptionActionButton}}</h1>
            </div>

            <button class="advantage-do-it-button">{{contentObject.contentObjectSecondTable.titleActionButton}}</button>
              <div class="advantage-do-it-buttom-background-borders">
         </div>
        </div>
    </div>

        {{/if}}

        {{#if contentObject.contentObjectThirdTable}}
            
      <div class="advantage-container-do-it">

          <div class="advantage-meeting-room-background-borders">
         </div>
        <img src="{{contentObject.contentObjectThirdTable.image}}" class="image">
        
        <div class="title">
            <h1>{{contentObject.contentObjectThirdTable.title}}</h1>
            <h3>{{contentObject.contentObjectThirdTable.firstSubtitle}}</h3>
            <h3>{{contentObject.contentObjectThirdTable.firstSubsubtitle}}</h3>
            <h2><b>{{contentObject.contentObjectThirdTable.firstTitlePriceSubsubtitle}}</b>{{contentObject.contentObjectThirdTable.firstPriceFirstSubsubtitle}}</h2>
            <h2><b>{{contentObject.contentObjectThirdTable.secondTitlePriceSubsubtitle}}</b>{{contentObject.contentObjectThirdTable.secondPriceFirstSubsubtitle}}</h2>
            <h3>{{contentObject.contentObjectThirdTable.secondSubsubtitle}}</h3>
            <h2><b>{{contentObject.contentObjectThirdTable.firstTitlePriceSubsubtitle}}</b>{{contentObject.contentObjectThirdTable.firstPriceSecondSubsubtitle}}</h2>
            <h2><b>{{contentObject.contentObjectThirdTable.secondTitlePriceSubsubtitle}}</b>{{contentObject.contentObjectThirdTable.secondPriceSecondSubsubtitle}}</h2>
            <h3>{{contentObject.contentObjectThirdTable.thirdSubsubtitle}}</h3>
            <h2><b>{{contentObject.contentObjectThirdTable.firstTitlePriceSubsubtitle}}</b>{{contentObject.contentObjectThirdTable.firstPriceThirdSubsubtitle}}</h2>
            <h2><b>{{contentObject.contentObjectThirdTable.secondTitlePriceSubsubtitle}}</b>{{contentObject.contentObjectThirdTable.secondPriceThirdSubsubtitle}}</h2>
        </div>

        <div class="advantage-meeting-room-background">

            <div class="advantage-meeting-information-title">
                <h1>{{contentObject.contentObjectThirdTable.descriptionActionButton}}</h1>
            </div>

            <button class="advantage-do-it-button">{{contentObject.contentObjectThirdTable.titleActionButton}}</button>
              <div class="advantage-do-it-buttom-background-borders">
         </div>
        </div>
    </div>

        {{/if}}

        {{#if contentObject.contentObjectThirdTable.itensTable}}
            
      <div class="advantage-support-container">

        <div class="advantage-support-title">
                <h1>{{contentObject.contentObjectThirdTable.titleTable}}</h1>
            </div>
            <div class="advantage-spaces-background">
                <div class="advantage-spaces-information-title">

                    {{#each contentObject.contentObjectThirdTable.itensTable as |item| }}
                        <div class="advantage-spaces-information-title-item">
                        <div class="image-icon">
                        </div>
                        <h1>{{item}}</h1>
                    </div>
                    {{/each}}

                </div>
                <div class="advantage-background-support-image">
                </div>
                <div class="advantage-space-center-line">
                </div>

                <div class="advantage-space-center-line-two">
                </div>
            </div>
        </div>
        {{/if}}

        {{#if contentObject.contentObjectWithoutTable}}
            
    <div class="advantage-container-do-it">

          <div class="advantage-meeting-room-background-borders">
         </div>
        <img src="{{contentObject.contentObjectWithoutTable.image}}" class="image">
        
        <div class="title">
            <h1>{{contentObject.contentObjectWithoutTable.title}}</h1>

            <h3>{{contentObject.contentObjectWithoutTable.firstSubtitle}}</h3>
            <h4>{{contentObject.contentObjectWithoutTable.firstSubsubtitle}}</h4>
            <h2><b>{{contentObject.contentObjectWithoutTable.firstTitlePriceSubsubtitle}}</b>{{contentObject.contentObjectWithoutTable.firstPriceFirstSubsubtitle}}</h2>
             <h2><b>{{contentObject.contentObjectWithoutTable.secondTitlePriceSubsubtitle}}</b>{{contentObject.contentObjectWithoutTable.secondPriceFirstSubsubtitle}}</h2>
            
            <h3>{{contentObject.contentObjectWithoutTable.secondSubtitle}}</h3>
             {{#if contentObject.contentObjectWithoutTable.secondSubsubtitle}}
            <h4>{{contentObject.contentObjectWithoutTable.secondSubsubtitle}}</h4>
            <h2><b>{{contentObject.contentObjectWithoutTable.firstTitlePriceSubsubtitle}}</b>{{contentObject.contentObjectWithoutTable.firstPriceSecondSubsubtitle}}</h2>
             <h2><b>{{contentObject.contentObjectWithoutTable.secondTitlePriceSubsubtitle}}</b>{{contentObject.contentObjectWithoutTable.secondPriceSecondSubsubtitle}}</h2>
             <h4>{{contentObject.contentObjectWithoutTable.thirdSubsubtitle}}</h4>
             {{/if}}
            <h3>{{contentObject.contentObjectWithoutTable.description}}</h3>
        </div>

        <div class="advantage-meeting-room-background">

            <div class="advantage-meeting-information-title">
                <h1>{{contentObject.contentObjectWithoutTable.descriptionActionButton}}</h1>
            </div>

            <button class="advantage-do-it-button">{{contentObject.contentObjectWithoutTable.titleActionButton}}</button>
              <div class="advantage-do-it-buttom-background-borders">
         </div>
        </div>
    </div>

            {{/if}}


            {{#if contentObject.contentSecondObjectWithoutTable}}
                
    <div class="advantage-container-do-it">

        <img src="{{contentObject.contentSecondObjectWithoutTable.image}}" class="image">

        <div class="title">
            <h1>{{contentObject.contentSecondObjectWithoutTable.title}}</h1>

            <h3>{{contentObject.contentSecondObjectWithoutTable.firstSubtitle}}</h3>
            <h2><b>{{contentObject.contentSecondObjectWithoutTable.firstTitlePriceSubtitle}}</b>{{contentObject.contentSecondObjectWithoutTable.firstPriceFirstSubtitle}}</h2>
             <h2><b>{{contentObject.contentSecondObjectWithoutTable.secondTitlePriceSubtitle}}</b>{{contentObject.contentSecondObjectWithoutTable.secondPriceFirstSubtitle}}</h2>

            <h3>{{contentObject.contentSecondObjectWithoutTable.description}}</h3>
        </div>

        <div class="advantage-meeting-room-background">

            <div class="advantage-meeting-information-title">
                <h1>{{contentObject.contentSecondObjectWithoutTable.descriptionActionButton}}</h1>
            </div>

            <button class="advantage-do-it-button">{{contentObject.contentSecondObjectWithoutTable.titleActionButton}}</button>
              <div class="advantage-do-it-buttom-background-borders">
         </div>
        </div>
    </div>
            {{/if}}

                    {{#if contentObject.contentSecondObjectOneTable}}
        <div class="advantage-container-do-it">

        <img src="{{contentObject.contentSecondObjectOneTable.image}}" class="image">

        <div class="title">
            <h1>{{contentObject.contentSecondObjectOneTable.title}}</h1>
            <h3>{{contentObject.contentSecondObjectOneTable.description}}</h3>
        </div>

        <div class="advantage-meeting-room-background">

            <div class="advantage-meeting-information-title">
                <h1>{{contentObject.contentSecondObjectOneTable.descriptionActionButton}}</h1>
            </div>

            <button class="advantage-do-it-button">{{contentObject.contentSecondObjectOneTable.titleActionButton}}</button>
              <div class="advantage-do-it-buttom-background-borders">
         </div>
        </div>
    </div>

             <div class="advantage-support-showroom-container ">

            <div class="advantage-support-showroom-title">
                <h1>{{contentObject.contentSecondObjectOneTable.titleTable}}</h1>
            </div>
            <div class="advantage-spaces-showroom-background">
                <div class="advantage-spaces-showroom-information-title">

                    {{#each contentObject.contentSecondObjectOneTable.itensWithIconTable as |item| }}
                    <div class="advantage-spaces-showroom-information-title-item">
                        <div class="image-icon">
                        </div>
                        <h1>{{item}}</h1>
                    </div>
                    {{/each}}

                    {{#each contentObject.contentSecondObjectOneTable.itensTable as |item| }}
                    <div class="advantage-spaces-showroom-information-title-item">
                        <h1>{{item}}</h1>
                    </div>
                    {{/each}}

                </div>
                <div class="advantage-background-showroom-support-image">
                </div>
                <div class="advantage-space-showroom-center-line">
                </div>

                <div class="advantage-space-showroom-center-line-two">
                </div>
            </div>
        </div>
            {{/if}}

</div>