<div class="work-space-plans-content-item">

        <div class="work-space-plans-content-item-header-background-image" style="background-image: url('{{contentObject.headerContent.headerContentTitle}}');">
            <div class="work-space-plans-content-item-header-background-filter" >
                <div class="work-space-plans-content-item-header">
                    <div class="title">
                        <h1>
                            {{contentObject.headerContent.headerContentTitle}}
                        </h1>
                    </div>
                    <div class="subtitle">
                        <h1>
                            {{contentObject.headerContent.headerContentPrice}}
                        </h1>
                    </div>

                    <button class="work-space-plans-content-button">
                            {{contentObject.headerContent.headerContentWorkspacePlanButton}}
                    <div class="button-plans-border-image"> </div>

                    </button>



                </div>
            </div>
        </div>

        <div class="work-space-plans-content-item-sub-description">
            <div class="left-border">

            </div>
            <div class="description">
                <h1>
                    {{contentObject.descriptionContent}}
                </h1>
            </div>
        </div>

        <div class="work-space-plans-description-content-item">

            <div class="title">
                <h1>
                    {{contentObject.subInfoContentObject.subInfoContentTitle}}
                </h1>
            </div>
            <div class="description">
                <h1>
                  {{contentObject.subInfoContentObject.subInfoContentDescription}} </h1>
            </div>

        </div>

        <div class="work-space-plans-description-content-item">

            <div class="title">
                <h1>
                    {{contentObject.subInfoContentObject2.subInfoContentTitle}}
                </h1>
            </div>
            <div class="description">
                <h1>
                  {{contentObject.subInfoContentObject2.subInfoContentDescription}} </h1>
            </div>

        </div>

        <div class="work-space-plans-description-content-item">

            <div class="title">
                <h1>
                    {{contentObject.subInfoContentObject3.subInfoContentTitle}}
                </h1>
            </div>
            <div class="description">
                <h1>
                  {{contentObject.subInfoContentObject3.subInfoContentDescription}} </h1>
            </div>

        </div>

        <div class="work-space-plans-description-content-item">

            <div class="title">
                <h1>
                    {{contentObject.subInfoContentObject4.subInfoContentTitle}}
                </h1>
            </div>
            <div class="description">
                <h1>
                  {{contentObject.subInfoContentObject4.subInfoContentDescription}} </h1>
            </div>

        </div>

        <div class="work-space-plans-description-content-item">

            <div class="title">
                <h1>
                    {{contentObject.subInfoContentObject5.subInfoContentTitle}}
                </h1>
            </div>
            <div class="description">
                <h1>
                  {{contentObject.subInfoContentObject5.subInfoContentDescription}} 
                  </h1>
            </div>

            <button class="work-space-plans-description-content-button">
                  {{contentObject.subInfoContentObject5.subInfoContentActionName}}
              </button>

            <div class="image">
            </div>
        </div>
    </div>