<div class="knowledge-detail-content">
        <div class="background-over-container"> </div>
                {{knowledge.knowledge-advantage-container}}
                {{knowledge.knowledge-events-container}}
                {{knowledge.knowledge-opnion-header-container}}
                {{knowledge.knowledge-opnion-container}}
                {{bottom-bar.bottom-bar backgroundColor="#AC0049"}}
        <div class="background-over-container"> </div>

</div>
