<div class="knowledge-events-content-item">

        <div class="knowledge-events-content-item-header-background-image" style="background-image: url({{eventObject.image}});">
            <div class="knowledge-events-content-item-header-background-filter" >
                <div class="knowledge-events-content-item-header">
                    <div class="title">
                        <h1>{{eventObject.title}}</h1>
                    </div>
                    <div class="subtitle">
                        <h1>{{eventObject.description}}</h1>
                    </div>
                    
                     {{!--<div class="subtitle">
                        <h1>{{eventObject.startDate}}</h1>
                    </div>--}}

                     <a class="knowledge-events-content-button" href={{eventObject.url}} target="_blank"> 
                         {{mainObject.titleButton}}
                    <div class="button-plans-border-image"> </div>
                      </a>

                    <a class="knowledge-events-content-second-button" href={{eventObject.url}} target="_blank"> 
                         {{mainObject.titleSecondButton}}

                    <div class="button-plans-border-image"> </div>
                      </a>        

                </div>
            </div>
        </div>
        
    </div>