<div class="community-detail-content">
        <div class="background-over-container"> </div>
                {{community.community-advantage-container}}
                {{community.community-benefits-container}}
                {{community.community-relationship-container}}
                {{community.community-our-team-container}}
                {{community.community-opnion-header-container}}
                {{community.community-opnion-container}}
                {{bottom-bar.bottom-bar backgroundColor="#D8AD09"}}
        <div class="background-over-container"> </div>
</div>
