
<div class="community-container">
    {{#if responsiveMode}} 
        {{navbar-responsive-mobile}}
     {{else}}
        {{top-bar}}  
    {{/if}}
    {{community-fixed-background}}
    {{community-detail-content}}
    
</div>



