
<div class="home-page-container">

    <div class="background-image">
      <div class="background-filter"> </div>
    </div>

  <div class="presentation-container">
      <h1> SONHE. FAÇA. COMPARTILHE. </h1>
      <h2> Somos uma Co-lab que oferece comunidade, espaço e conhecimento que atendem às necessidades de uma nova geração de trabalhadores: mais criativos, colaborativos e inquietos. </h2>
  </div>

  <div class="actions-container">
    {{!-- {{action-bottom-bar}}
    {{action-bottom-bar}}
    {{action-bottom-bar}}
    {{action-bottom-bar}} --}}
  </div>
  {{top-bar}}

</div>
