{{top-bar}}

<div class="background-container">
  <div class="background-image">
        <img src="assets/images/awesome.gif" alt=""/>
  </div>

  <div class="presentation-container">

  </div>

  <div class="actions-container">
    {{!-- {{action-bottom-bar}}
    {{action-bottom-bar}}
    {{action-bottom-bar}}
    {{action-bottom-bar}} --}}
  </div>

</div>
