
<div class="knowledge-container">
    {{#if responsiveMode}} 
        {{navbar-responsive-mobile}}
     {{else}}
        {{top-bar}}  
    {{/if}}    
    
     {{knowledge-fixed-background}}
     {{knowledge-detail-content}} 
     {{bottom-bar backgroundColor="#AC0049"}}

</div>



