<div class="sign-up-membership">
    <div class="sign-up-membership-container">
    <div class="page-header">
        <div class="header-name">
            <h1> MEMBERSHIP </h1>
        </div>
        <div class="header-description">
            <h1> Faça o seu cadastro inicial, com apenas algumas informaçÕes: </h1>
        </div>
        <div class="header-divider"> </div>
    </div>

    <div class="page-detail">
        <div class="left-content">
            <div class="form-field-big">
            {{input value="" required=true placeholder="Email" }}
            </div>
           
            <div class="form-field-medium">
            {{input value="" required=true placeholder="CPF" }}
            </div>

              <div class="form-field-medium">
            {{input value="" required=true placeholder="CPF" }}
            </div>

              <div class="form-field-big">
            {{input value="" required=true placeholder="CPF" }}
            </div>

  <div class="form-field-medium">
            {{input value="" required=true placeholder="CPF" }}
            </div>

              <div class="form-field-medium">
            {{input value="" required=true placeholder="CPF" }}
            </div>

              <div class="form-field-medium">
            {{input value="" required=true placeholder="CPF" }}
            </div>

                <div class="form-field-medium">
            {{input value="" required=true placeholder="CPF" }}
            </div>

                <div class="form-field-medium">
            {{input value="" required=true placeholder="CPF" }}
            </div>



        </div>

        <div class="right-content">
               <div class="description-title"> 
                   <h1>
                   Não perca a oportunidade de expandir seu negócio
                   </h1>

                   <div class="label-icon"> </div>
               </div>
            <div class="description-picture"> </div>

        </div>
    </div>

     </div>
    {{bottom-bar backgroundColor="#D8AD09" }}
    {{top-bar}}

</div>