<div class="sign-up-membership">
    {{#if responsiveMode}} 
        {{navbar-responsive-mobile}}
     {{else}}
        {{top-bar}}  
    {{/if}}    
    
    {{sign-up-membership-detail-container}}
    {{bottom-bar backgroundColor="#D8AD09" }} 
</div>