<div class="sign-up-membership">
    <div class="sign-up-membership-container">
        <div class="page-header">
            <div class="header-name">
                <h1> {{contentObject.title}} </h1>
            </div>
            <div class="header-description">
                <h1> Faça o seu cadastro inicial, com apenas algumas informaçÕes: </h1>
            </div>
            <div class="header-divider"> </div>
        </div>

        <div class="page-detail">
            <div class="left-content">
                
                <div class="form-field-big">
                    {{paper-input label="Name" value=name onChange=(action (mut name))}}
                </div>

                <div class="form-field-medium">
                    {{paper-input label="CPF" value=cpf onChange=(action (mut cpf))}}
                    {{!--{{input-mask mask="999.999.999-99" placeholder="CPF"}}--}}
                </div>

                <div class="form-field-medium">
                    {{!--{{input-mask mask="99999999999" placeholder="RG"}}--}}
                  {{paper-input label="RG" value=rg onChange=(action (mut rg))}}

                </div>

                <div class="form-field-big">
                    {{paper-input label="Endereço" value=address onChange=(action (mut address))}}
                </div>

                <div class="form-field-medium">
                    {{paper-input label="Número'" value=number onChange=(action (mut number))}}
                </div>

                <div class="form-field-medium">
                    {{paper-input label="Complemento" value=complement onChange=(action (mut complement))}}
                </div>

                <div class="form-field-medium">
                    {{paper-input label="Bairro" value=neighbor onChange=(action (mut neighbor))}}
                </div>

                <div class="form-field-medium">
                    {{paper-input label="Estado" value=state onChange=(action (mut state))}}
                </div>

                <div class="form-field-medium">
                    {{paper-input label="País'" value=country onChange=(action (mut country))}}
                </div>
                
                <button class="subscribe-button"  {{action 'registerUser'}}> CADASTRAR </button>
                <div class="subscribe-button-background-borders">
                </div>

            </div>

            <div class="right-content">
                <div class="description-title">
                    <h1>
                        Não perca a oportunidade de expandir seu negócio
                    </h1>

                    <div class="label-icon"> </div>
                </div>
                <div class="description-picture"> </div>

            </div>
        </div>

    </div>
    {{bottom-bar backgroundColor="#D8AD09" }} {{top-bar}}

</div>