<div class="visit-us">
    {{#if responsiveMode}} 
        {{navbar-responsive-mobile}}
     {{else}}
        {{top-bar}}  
    {{/if}}    
    
    {{visit-us-detail-container}}
    {{bottom-bar backgroundColor="#E65B05" }} 
</div>
