
<div class="work-space-container">
    {{work-space-fixed-background}}
    {{work-space-detail-content}}
    {{work-space-advantage-container}}
    {{top-bar}}
    {{bottom-bar-work-station}}
</div>



