
<div class="work-space-container">
    {{#if responsiveMode}} 
        {{navbar-responsive-mobile}}
     {{else}}
        {{top-bar}}  
    {{/if}}
    {{work-space-fixed-background}}
    {{work-space-detail-content}}
    {{bottom-bar backgroundColor="#5A7DBB"}}
</div>



